<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - miwebpersonal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/miwebpersonal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a href="index.html"><img src="/img/Istravel.png"/></a>
        <nav>
          <ul>
            <li><a href='@Url.Action("Index","Home")' title="#Index.cshtml">Home</a></li>
            <li><a href='@Url.Action("Lugares","Home")' title="#Lugares.cshtml">Lugares</a></li>
            <li><a href='@Url.Action("Aboutus","Home")' title="#Aboutus.cshtml">About us</a></li>
            <li><a href='@Url.Action("Contacto","Home")' title="#Contacto.cshtml">Contacto</a></li>
          </ul>
        </nav>
        <form>
          <input type="search" name="buscador" placeholder="Search">
          <input type="submit" value="Buscar" name="buscar">
        </form>
      </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
      <footer>
      <section>
        <div>
          <h2>Horarios de atención:</h2>
        <ul>
          <li>Lunes a viernes: 09:00 a 18:00</li>
          <li>Sabados: 10:00 a 13:00</li>
          <li>Domingos y feriados: cerrado</li>
        </ul>
        </div>
        <div>
          <img src="/img/Istravel.png"/>
        <ul class="social-media">
          <li><a href=""><img src="/img/square-instagram.svg"></a></li>
          <li><a href=""><img src="/img/square-x-twitter.svg"></a></li>
          <li><a href=""><img src="/img/square-facebook.svg"></a></li>
        </ul>
        </div>
        </section>
        <marquee>Copyright Istravel© (2024-2024)</marquee>
      </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
